#about {
    padding: 25px 0;
}
body{
    background-color: lightgray;
    
}
#about_row {
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;
}

.about_col {
    flex: 1;
    
    margin: 20px;
    text-align: justify; 
    font-family: cursive; 
}

#about_img {
    width: 400px; 
    max-width: 100%; 
    border-radius: 50%; 
    object-fit: cover;
    margin: auto;
}


@media screen and (max-width: 768px) {
    #about_row {
        flex-direction: column; 
        padding: 0 20px; 
    }
    .about_col {
        max-width: 100%; 
        margin: 10px 0; 
    }
    #about_img {
        width: 250px;
        max-width: 100%;
    }
}
