#chef{
    padding: 25px 0 25px 0;
    text-align: center;
}
body{
   background-image: url(images/download.jpg);
}
#chef_row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.chef_col:nth-child(3) #img {
    width: 350px; 
    height: 400px;
    
}

.chef_col
{
    text-align: center;
    padding: 10px;
    margin: 5px;
    
}
#img{
    width: 300px;
    height: 400px;
    margin: auto;
}
#img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 11px solid rgba(128, 128, 128, 0.541);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 30px;
}
#img img:hover {
    transform: scale(1.1); /* Slightly enlarge the image */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add a shadow for effect */
}

@media screen and (max-width : 768px) {
    #header{
        position: absolute;
    }
    #mobile_menu{
        display: block;
    }
    #navbar ul{ 
        display: none;
    }
    html{
        font-size: 95%;
    }
}